# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import warnings

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_py = pd.read_csv("WeatherPy_Results.csv")
weather_py

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mount Gambier,-37.83,140.77,10.00,93,40,6.70,AU,1597178792
1,Puerto Ayora,-0.74,-90.35,24.00,69,40,9.30,EC,1597178793
2,Arraial do Cabo,-22.97,-42.03,25.00,69,40,4.10,BR,1597178795
3,Beringovskiy,63.05,179.32,12.61,73,0,2.15,RU,1597178796
4,Kapaa,22.08,-159.32,28.89,74,40,5.70,US,1597178797
...,...,...,...,...,...,...,...,...,...
557,Penzance,50.12,-5.54,17.22,93,61,5.70,GB,1597179463
558,Berlevåg,70.86,29.09,9.00,93,75,5.10,NO,1597179464
559,Kinel',53.23,50.65,15.00,58,40,2.00,RU,1597179466
560,Barsovo,61.17,73.17,18.00,100,20,1.00,RU,1597179467
561,Nagai,38.10,140.03,24.44,71,88,1.60,JP,1597179469

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = weather_py[["Latitude", "Longitude"]]
humid = weather_py["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_conditions = weather_py.loc[weather_py["Max Temperature"] < 90, :]
ideal_conditions = weather_py.loc[weather_py["Max Temperature"] > 45, :]
ideal_conditions = weather_py.loc[weather_py["Humidity"] < 60, :]
ideal_conditions.dropna(axis = 1)
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
5,Avarua,-21.21,-159.78,23.00,56,25,5.70,CK,1597178798
11,South Kazakhstan Region,43.00,68.00,19.50,32,0,4.47,KZ,1597178805
12,Yellowknife,62.46,-114.35,21.00,56,75,6.70,CA,1597178747
14,San Jerónimo,-11.95,-75.28,17.25,34,62,3.93,PE,1597178808
16,Mar del Plata,-38.00,-57.56,12.00,32,0,4.10,AR,1597178650
...,...,...,...,...,...,...,...,...,...
542,Puerto Ayacucho,5.66,-67.62,33.00,49,40,0.16,VE,1597179446
543,Concordia,-31.39,-58.02,13.00,35,88,1.50,AR,1597179447
546,Marzuq,14.40,46.47,30.92,22,86,3.48,YE,1597179451
552,Ovalle,-30.60,-71.20,18.91,40,49,2.52,CL,1597179458
559,Kinel',53.23,50.65,15.00,58,40,2.00,RU,1597179466

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = ideal_conditions
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Rating"] = ""
hotel_df["Hotel Address"] = ""
warnings.filterwarnings("ignore")
hotel_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Rating,Hotel Address
5,Avarua,-21.21,-159.78,23.00,56,25,5.70,CK,1597178798,,,
11,South Kazakhstan Region,43.00,68.00,19.50,32,0,4.47,KZ,1597178805,,,
12,Yellowknife,62.46,-114.35,21.00,56,75,6.70,CA,1597178747,,,
14,San Jerónimo,-11.95,-75.28,17.25,34,62,3.93,PE,1597178808,,,
16,Mar del Plata,-38.00,-57.56,12.00,32,0,4.10,AR,1597178650,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
542,Puerto Ayacucho,5.66,-67.62,33.00,49,40,0.16,VE,1597179446,,,
543,Concordia,-31.39,-58.02,13.00,35,88,1.50,AR,1597179447,,,
546,Marzuq,14.40,46.47,30.92,22,86,3.48,YE,1597179451,,,
552,Ovalle,-30.60,-71.20,18.91,40,49,2.52,CL,1597179458,,,
559,Kinel',53.23,50.65,15.00,58,40,2.00,RU,1597179466,,,

In [15]:
warnings.filterwarnings("ignore")
hotel_name = []
hotel_rating = []
vicinity = []
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()

    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Nope - can't find data for this one. You DON'T GET TO VACATION HERE")

Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE
Nope - can't find data for this one. You DON'T GET TO VACATION HERE

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row


# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [35]:
# Add marker layer ontop of heat map

gmaps.configure(api_key=g_key)
locations = hotel_df[["Latitude", "Longitude"]]
humid = hotel_df["Humidity"]

# Display figure
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content= hotel_info
)


fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))